<html>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src = "controllers/pulseWidthController.js"></script>
    <head>
        <title>Robot Arm</title>
    </head>

    <body ng-app="mainApp">
        <h2>Servo Arm Controller</h2>
        <div ng-controller="pulseWidthController" ng-init="pulseWidth=500; selectedAccuracy=0">
            <table style="width:25%" border = "1">
                <tr>
                    <td>Servo #</td><td>Pulse Width</td><td colspan="2" align="center">Control</td><td>Accuracy</td>
                </tr>
                <tr>
                    <td width="50%">Servo 1</td>
                    <td width="20%">{{pulseWidth/1000}}ms</td>
                    <td width="5%"><button ng-click = "increasePulseWidth(selectedAccuracy)">Up</button></td>
                    <td width="5%"><button ng-click = "decreasePulseWidth(selectedAccuracy)">down</button></td>
                    <td width="20%"><select ng-model="selectedAccuracy" ng-options="pulseWidthAccuracy.indexOf(selectedAccuracy) as
                                          selectedAccuracy for selectedAccuracy in pulseWidthAccuracy"></select></td>
                </tr>
            </table>
        </div>

        <div ng-controller="pulseWidthController" ng-init="pulseWidth=2500; selectedAccuracy=0">
            <table style="width:25%" border = "1">
                <tr>
                    <td width="50%">Servo 2</td>
                    <td width="20%">{{ pulseWidth/1000 }}ms</td>
                    <td width="5%"><button ng-click = "increasePulseWidth(selectedAccuracy)">Up</button></td>
                    <td width="5%"><button ng-click = "decreasePulseWidth(selectedAccuracy)">down</button></td>
                    <td width="20%"><select ng-model="selectedAccuracy" ng-options="pulseWidthAccuracy.indexOf(selectedAccuracy) as
                                          selectedAccuracy for selectedAccuracy in pulseWidthAccuracy"></select></td>
                </tr>
            </table>
        </div>

    </body>

</html>